.categories {
    margin-bottom: 30px;

    &__add-button {
        svg {
            path {
                stroke: rgb(153, 148, 148);
            }
        }

        span {
            color: rgb(77, 75, 75);
        }

        &:hover {
            svg {
                path {
                    stroke: rgb(0, 0, 0);
                    transition: .5s;
                }
            }

            span {
                color: rgb(0, 0, 0);
                transition: .5s;
            }
        }
    }

    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;

        &.active {
            background: #FFFFFF;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
        }

        .badge {
            position: relative;
            left: 5px;        
        }
    }

    /* Стили для иконок в категориях */
    i {
        display: inline-flex;
        margin-right: 8px;

        svg {
            path {
                fill: rgb(190, 7, 129); // Все желания
            }
        }

       
}
}